body {
    padding: 40px 0 40px;
    margin: 0;
    width: 100%;
    background: url(../img/bg.jpg) no-repeat center bottom;
    background-size: 100% auto;
}
#game_wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.game_canvas {
    margin: 50px auto;
}
.loginPage {

}
.hidden {
    display: none;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 20px;
}

.mapsBlock {
    margin-top: 30px;
}
.mapsBlock .map_item {
    background: #fff;
    width: 150px;
    height: 150px;
    padding: 30px;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
}

form input {
    background: #fff!important;
    border: 1px solid #a1887f;
    border-radius: 0;
}
a {
    color: #a1887f;
}
button.btn {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 0;
    color: #fff;
}
button.btn:hover {
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
}
.profilePage .btn {
    display: block;
    padding: 20px;
    width: 350px;
    margin: 40px 0;
    font-size: 18px;
}
.usersGameScore {
    position: absolute;
    left: 0;
    top: 100px;
    width: 300px;
    height: auto;
}
.usersGameScore .panel {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    margin: 5px;
}
.usersGameScore .table th, .usersGameScore .table td {
    padding: 5px;
}